<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create a new listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3 ">
            <label for="productName" class="form-label">productName</label>
            <input type="text" name="listing[productName]" placeholder="enter productName" class="form-control" required>
            <div class="invalid-feedback">Please enter a product name.</div>
        </div>
        
        <div class="mb-3 ">
            <label for="description" class="form-label">description</label>
            <textarea type="text" name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a description.</div>
        </div>
        
        <div class="mb-3 ">
            <label for="category" class="form-label">category</label>
            <input type="text" name="listing[category]" placeholder="enter category" class="form-control" required>
            <div class="invalid-feedback">Please enter a category.</div>
        </div>
        
        <div class="mb-3 ">
            <label for="price" class="form-label">price</label>
            <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">Please enter price.</div>
        </div>
        
        <!-- <div class="mb-3 w-100">
            <label for="review" class="form-label">review</label>
            <input type="text" name="listing[review]" placeholder="enter review" class="form-control">
        </div> -->

        <div class="mb-3 ">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" name="image" class="form-control" required>
        </div>
        
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br><br>
    </form>
</div>
</div>
